@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb; /* 整个页面的浅灰背景 */
}

/* 隐藏滚动条但保留功能，更美观 */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border-radius: 10px;
}