@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 隐藏滚动条 */
::-webkit-scrollbar {
  width: 0px;
}